parameters:
    makespace_domain:
    redis_cache_host:
    redis_cache_port:
    cdn_www_url:
    makespace_database_driver:
    makespace_database_host:
    makespace_database_port:
    makespace_database_name:
    makespace_database_user:
    makespace_database_password:
    makespace_database_devmode:
    env_key:
